.top-title {
  text-align: center;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.searcher {
  width: 90%;
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
}

.button-add {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

mat-icon:hover {
  cursor: pointer;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}

.col {
  &-city {
    @media (max-width: 650px) {
      display: none;
    }
  }
  &-division {
    @media (max-width: 750px) {
      display: none;
    }
  }
}
